doctype html
html(lang="en")
  head
    // Required meta tags
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    // Bootstrap CSS
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    title Hello, world!
  body
    section
      nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.navbar-brand(href="#") Navbar
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon
        #navbarNavAltMarkup.collapse.navbar-collapse
          .navbar-nav
            a.nav-item.nav-link.active(href="#")
              | Home 
              span.sr-only (current)
            a.nav-item.nav-link(href="/cadastrar") Cadastrar Homologação
            a.nav-item.nav-link(href="#") Pricing
    block content
    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src="/js/jQuery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
    script(src="/js/bootstrap.min.js")
